In [1]:
import pandas as pd

df = pd.DataFrame({'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]})

In [2]:
df.reindex([2,1,0])

   name  age
2   Bob   35
1  Jane   30
0  John   25

In [4]:
for index, row in df.iterrows():
    print(row['name'], row['age'])

John 25
Jane 30
Bob 35

In [6]:
type(df.loc[1:2, 'name'])

pandas.core.series.Series

In [7]:
import pandas as pd

 

data = {'date': ['2022-01-01', '2022-02-01', '2022-03-01'], 'sales': [100, 200, 300]}

df = pd.DataFrame(data)

 

df['date'] = pd.to_datetime(df['date'])

df['month'] = df['date'].dt.month

 

print(df)

        date  sales  month
0 2022-01-01    100      1
1 2022-02-01    200      2
2 2022-03-01    300      3